In [86]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns 
import numpy as np

In [87]:
#upload data to PANDAS

fertility1920_df = pd.read_csv("fertility1920.csv")

fertility1920_df

,YEAR,STATE,FERTILITY RATE,BIRTHS,URL
0,2020,AL,60.6,57647,/nchs/pressroom/states/alabama/al.htm
1,2020,AK,65.7,9469,/nchs/pressroom/states/alaska/ak.htm
2,2020,AZ,54.0,76947,/nchs/pressroom/states/arizona/az.htm
3,2020,AR,60.7,35251,/nchs/pressroom/states/arkansas/ar.htm
4,2020,CA,52.4,420259,/nchs/pressroom/states/california/ca.htm
...,...,...,...,...,...
395,2005,VA,64.0,104555,/nchs/pressroom/states/virginia/virginia.htm
396,2005,WA,63.0,82703,/nchs/pressroom/states/washington/washington.htm
397,2005,WV,59.2,20836,/nchs/pressroom/states/westvirginia/westvirgin...
398,2005,WI,62.5,70984,/nchs/pressroom/states/wisconsin/wisconsin.htm
399,2005,WY,71.4,7239,/nchs/pressroom/states/wyoming/wyoming.htm

In [88]:
#Remove data from 2018 and prior
fertility1920_df = fertility1920_df.drop(labels=range(100,400))

#Remove unneeded columns
fertility1920_df = fertility1920_df.drop(columns = 'BIRTHS')
fertility1920_df = fertility1920_df.drop(columns = 'URL')

#Remove Null Data 
fertility_df.dropna(inplace=True)
fertility1920_df

    YEAR STATE  FERTILITY RATE
0   2020    AL            60.6
1   2020    AK            65.7
2   2020    AZ            54.0
3   2020    AR            60.7
4   2020    CA            52.4
..   ...   ...             ...
95  2019    VA            57.8
96  2019    WA            56.0
97  2019    WV            57.6
98  2019    WI            58.1
99  2019    WY            60.8

[100 rows x 3 columns]

In [89]:
fertility1920_df.to_csv('Fertility1920_DF.csv',index=False)

In [82]:
fertility22_df = pd.read_csv("fertility22.csv")

fertility22_df

,State,birthRate,fertilityRate,totalBirths,fertilityRateWhite,fertilityRateBlack,fertilityRateNative,fertilityRateAsian
0,South Dakota,13.5,73.6,12522,61,102,90,63
1,North Dakota,14.0,72.2,11815,68,86,63,98
2,Alaska,13.7,69.3,10640,60,88,74,67
3,Utah,14.9,68.4,51522,67,90,43,57
4,Nebraska,13.2,68.4,27670,61,85,81,67
5,Kansas,12.5,64.7,38563,57,72,48,58
6,Oklahoma,12.6,64.6,54173,59,61,59,58
7,Louisiana,12.8,64.3,61097,55,57,52,51
8,Hawaii,11.9,64.2,19547,69,92,75,52
9,Arkansas,12.3,64.0,39242,54,63,50,71
10,Kentucky,12.1,63.5,53661,52,56,15,62
11,Iowa,12.0,63.5,41850,58,75,26,64
12,Texas,13.2,63.4,398679,57,57,60,57
13,Idaho,12.2,63.4,24364,63,56,61,50
14,Mississippi,12.4,62.8,36728,50,54,74,49
15,Indiana,12.2,62.8,83769,53,60,27,57
16,Minnesota,12.0,62.7,73859,54,89,70,76
17,Missouri,12.0,62.4,77756,55,56,44,54
18,Tennessee,11.9,61.1,80485,48,59,37,52
19,Ohio,11.6,61.1,147016,53,64,60,60
20,Wyoming,11.4,61.0,7584,59,56,96,30
21,Alabama,11.8,60.9,60339,50,56,79,61
22,New Jersey,11.4,60.1,99738,48,48,58,47
23,Nevada,11.8,60.0,36438,50,57,78,49
24,Maryland,11.8,59.9,74293,52,49,21,51
25,Montana,10.8,59.6,12482,54,57,74,45
26,Virginia,11.7,59.1,102796,51,52,56,47
27,Delaware,11.0,59.1,9851,44,45,138,47
28,Wisconsin,11.0,58.9,68420,51,57,67,63
29,Arizona,11.3,58.6,88904,54,54,60,52
30,Michigan,11.0,58.5,118760,51,57,54,50
31,North Carolina,11.5,58.4,123554,50,49,51,62
32,Georgia,12.0,58.3,136047,52,53,88,46
33,South Carolina,11.1,58.1,64132,53,59,70,49
34,New Mexico,11.0,58.0,25400,54,58,59,69
35,New York,11.6,57.9,220976,47,43,44,47
36,Washington,11.4,57.5,94822,53,67,60,53
37,Illinois,11.4,57.5,156822,50,55,50,54
38,West Virginia,10.1,57.2,20430,52,73,0,49
39,Florida,10.4,57.2,219996,46,52,56,47
40,Pennsylvania,10.6,56.9,149468,51,55,38,53
41,California,11.5,56.2,469884,49,46,52,47
42,Colorado,11.0,54.1,69064,50,63,66,49
43,Maine,9.2,53.3,14265,50,69,31,57
44,Connecticut,9.7,51.8,34775,40,45,63,55
45,Oregon,10.1,51.4,46313,48,50,43,49
46,Rhode Island,9.9,50.5,11896,44,56,13,66
47,Massachusetts,10.0,49.5,74969,43,56,73,47
48,New Hampshire,8.8,49.1,14591,48,73,97,48
49,Vermont,8.7,47.2,6091,43,118,12,37

In [83]:
#remove unneeded data
fertility22_df = fertility22_df.drop(columns = 'birthRate')
fertility22_df = fertility22_df.drop(columns = 'totalBirths')
fertility22_df = fertility22_df.drop(columns = 'fertilityRateWhite')
fertility22_df = fertility22_df.drop(columns = 'fertilityRateBlack')
fertility22_df = fertility22_df.drop(columns = 'fertilityRateNative')
fertility22_df = fertility22_df.drop(columns = 'fertilityRateAsian')
fertility22_df

             State  fertilityRate
0     South Dakota           73.6
1     North Dakota           72.2
2           Alaska           69.3
3             Utah           68.4
4         Nebraska           68.4
5           Kansas           64.7
6         Oklahoma           64.6
7        Louisiana           64.3
8           Hawaii           64.2
9         Arkansas           64.0
10        Kentucky           63.5
11            Iowa           63.5
12           Texas           63.4
13           Idaho           63.4
14     Mississippi           62.8
15         Indiana           62.8
16       Minnesota           62.7
17        Missouri           62.4
18       Tennessee           61.1
19            Ohio           61.1
20         Wyoming           61.0
21         Alabama           60.9
22      New Jersey           60.1
23          Nevada           60.0
24        Maryland           59.9
25         Montana           59.6
26        Virginia           59.1
27        Delaware           59.1
28       Wisconsin           58.9
29         Arizona           58.6
30        Michigan           58.5
31  North Carolina           58.4
32         Georgia           58.3
33  South Carolina           58.1
34      New Mexico           58.0
35        New York           57.9
36      Washington           57.5
37        Illinois           57.5
38   West Virginia           57.2
39         Florida           57.2
40    Pennsylvania           56.9
41      California           56.2
42        Colorado           54.1
43           Maine           53.3
44     Connecticut           51.8
45          Oregon           51.4
46    Rhode Island           50.5
47   Massachusetts           49.5
48   New Hampshire           49.1
49         Vermont           47.2

In [84]:
#inserts a column for year
fertility22_df.insert(0, 'YEAR', 2022)
fertility22_df

    YEAR           State  fertilityRate
0   2022    South Dakota           73.6
1   2022    North Dakota           72.2
2   2022          Alaska           69.3
3   2022            Utah           68.4
4   2022        Nebraska           68.4
5   2022          Kansas           64.7
6   2022        Oklahoma           64.6
7   2022       Louisiana           64.3
8   2022          Hawaii           64.2
9   2022        Arkansas           64.0
10  2022        Kentucky           63.5
11  2022            Iowa           63.5
12  2022           Texas           63.4
13  2022           Idaho           63.4
14  2022     Mississippi           62.8
15  2022         Indiana           62.8
16  2022       Minnesota           62.7
17  2022        Missouri           62.4
18  2022       Tennessee           61.1
19  2022            Ohio           61.1
20  2022         Wyoming           61.0
21  2022         Alabama           60.9
22  2022      New Jersey           60.1
23  2022          Nevada           60.0
24  2022        Maryland           59.9
25  2022         Montana           59.6
26  2022        Virginia           59.1
27  2022        Delaware           59.1
28  2022       Wisconsin           58.9
29  2022         Arizona           58.6
30  2022        Michigan           58.5
31  2022  North Carolina           58.4
32  2022         Georgia           58.3
33  2022  South Carolina           58.1
34  2022      New Mexico           58.0
35  2022        New York           57.9
36  2022      Washington           57.5
37  2022        Illinois           57.5
38  2022   West Virginia           57.2
39  2022         Florida           57.2
40  2022    Pennsylvania           56.9
41  2022      California           56.2
42  2022        Colorado           54.1
43  2022           Maine           53.3
44  2022     Connecticut           51.8
45  2022          Oregon           51.4
46  2022    Rhode Island           50.5
47  2022   Massachusetts           49.5
48  2022   New Hampshire           49.1
49  2022         Vermont           47.2

In [85]:
fertility22_df.to_csv('Fertility22_DF.csv',index=False)